*{
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    color: #e4e3eb;    
    font-family: monospace;

}

body{
    background-color: #131218;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: #24232b;
    padding: 10px;
}

#pantalla{
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: #24232b;
    color:aliceblue;
    padding: 10px;
    margin-bottom: 10px;
}

#boton{
    height: 30px;
    background-color: #a4ffaf;
    color: #131218
}

input{
    display: flex;
}